body{
    background-color: rgb(71, 69, 69);
    color: rgb(255, 255, 255);
    font-size: 17px;
}

a{
    color: aliceblue;
}

a:visited{
    color: antiquewhite;
}

A:hover,a:active{
    color: aqua;
}